@import '../themes/variable';

//css
.header {
    background-color: black !important
    
}
.header_right {
    justify-content: end !important;
    align-items: center !important;
}
.search_header {
    color: white;
    border: none;
}